.header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.passport-title {
  font-size: 30px;
  text-align: center;
  vertical-align: 20px;
  color: gold;
  padding-top: 30px;  
}


/* Colours */

.brown {
  background: brown
}
.blue {
  background: darkblue
}
.green {
  background: green
}
.red {
  background: #f21313
}
/* Passport Borders */
.cover {
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: .4rem;
  border-top-left-radius: .4rem;  
  height: 400px;
  width: 300px;
  margin: auto;
}

.middle {
  height: 400px;
  width: 600px;
  margin: auto;
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border-top-left-radius: 1.2rem; 
}

.back {
  border-bottom-right-radius: .4rem;
  border-top-right-radius: .4rem;
  border-bottom-left-radius: 1.2rem;
  border-top-left-radius: 1.2rem;  
  height: 400px;
  width: 300px;
  margin: auto;
}

/*Arrow*/

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid blue;
  float: right;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right:30px solid blue; 
  float: left;
}

.country {
  color: beige;
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
}

.flag {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.middle {
  height: 400px;
  width: 600px;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.gap {
  height: 30px;
}

.white-paper {
  background-image: linear-gradient(90deg, #fff 0%, #eee 50%, #ddd 50%, #eee 60%, #fff 100%);
  width: 590px;
  height: 390px;
  border-radius: 1.0rem;
  
}

.name {
  font-size: 2rem;
  color: #222;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
  ;
}
.bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.end {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.flex {
  display: flex;
  flex: auto;
}

.container1 {
  display: flex;
  margin: auto;
  width: 295px;
  height: 390px;
  float: left;
  justify-content: center;
}
.container2 {
  display: flex;
  margin: auto;
  width: 295px;
  height: 390px;
  float: right;
  justify-content: space-between;
  flex-direction: column;

}
.left {
  text-align: left;
  float: left;
}
.right {
  text-align: right;
  float: right;
}
.row-container {
  flex: 1;
  padding: 10px;
}

.img {
  height: 200px;
  width: 150px;
  align-self: center;
}

.justify {
  justify-content: center;
  text-align: center;
}

p {
  text-align: center;
  
}